.login-page {
    height: 100vh;
    display: flex;

    justify-content: center;
    text-align: center;
    align-items: center;
} 

.login-form {
    width: 640px;
    height: auto;
}

.login-form form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.input-box {
    width: 320px;
    margin: 0 px;
    padding: 10px;
    display: inline-block;
}

.input-box input {
    width: 280px;
    padding: 10px;
    background-color: rgba(0,0,0,0);

}

.input-box label {
    font-size: 25px;
    background-color: rgba(0,0,0,0);
}

.login-page-button {
    width: 305px;
    padding: 5px;
    margin: 40px 0px 0px 0px;
    font-size: large;
    transition: 0.3s ease;
}

.login-page-button:hover {
    color: white;
}

.module-change-button {
    transition: 0.3s ease;

}

.module-change-button:hover {
    color: white;
}