.postal-items-actions {
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.postal-items-actions h2 {
    justify-content: center;
    text-align: center;
}

.transfer-container {
    width: 100%;
    display: inline-grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 60px 0px;
}

.transfer-select-item {
    font-size: 25px;
    display: block;
    position: relative;
}

.transfer-select-item select {
    width: 50%;
    height: 100%;
    font-size: 20px;
    text-align: center;
}


.action-button  {
    width: 50%;
    padding: 30px;
}