.postal-items-info {
    height: 100vh;
}

.postal-items-info table{
    width: 100%;
}

.postal-items-info table, td, tr {
    border: 3px solid black;
    
}

.postal-items-info td {
    justify-content: center;
    text-align: center;
}
.postal-items-info button {
    justify-content: center;
    text-align: center;
    width: 50%;
}